body { margin: 0; padding: 0; }

.page {
  position: absolute;
  width: 100vw;
  height: 100vh;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.usage {
  position: absolute;
  top: 40px;
  line-height: 50px;
  z-index: 1000;
  color: white;
  font-size: 20px;
  width: 100%;
  text-align: center;
  font-family: "Arial Black", Gadget, sans-serif;
  pointer-events: none;
}

h1{
  color: white;
  font-family: arial;
  font-weight: bold;
  font-size: 3em;
}

.pageOne{
	background: radial-gradient(circle, rgba(255,148,148,1) 0%, rgba(255,201,148,1) 75%);
}

.pageTwo{
background: radial-gradient(circle, rgba(255,201,148,1) 0%, rgba(255,238,148,1) 75%);
}

.pageThree{
background: radial-gradient(circle, rgba(255,238,148,1) 0%, rgba(232,255,148,1) 75%);
}

.pageFour{
background: radial-gradient(circle, rgba(232,255,148,1) 0%, rgba(191,255,148,1) 75%);
}

.pageFive{
background: radial-gradient(circle, rgba(191,255,148,1) 0%, rgba(148,255,174,1) 75%);
}

.pageSix{
background: radial-gradient(circle, rgba(148,255,174,1) 0%, rgba(148,255,226,1) 75%);
}

.pageSeven{
background: radial-gradient(circle, rgba(148,255,226,1) 0%, rgba(148,229,255,1) 75%);
}

.pageEight{
background: radial-gradient(circle, rgba(148,229,255,1) 0%, rgba(148,167,255,1) 75%);
}

.pageNine{
background: radial-gradient(circle, rgba(148,167,255,1) 0%, rgba(193,148,255,1) 75%);
}

.pageTen{
background: radial-gradient(circle, rgba(193,148,255,1) 0%, rgba(253,148,255,1) 75%);
}

.pageEleven{
background: radial-gradient(circle, rgba(253,148,255,1) 0%, rgba(255,148,184,1) 75%);
}

.pageTwelve{
background: radial-gradient(circle, rgba(255,148,184,1) 0%, rgba(255,160,148,1) 75%);
}